:root{
    --customheight: 24rem;
}
#canvas {
    position: absolute;
    z-index: 10;
}

#video-container {
    margin: 0 auto;
    margin-top: 50px;
    position: center;
    justify-content: center;
}

#video {
    // padding: 10px;
    border-radius: 6%;
}

.ocrloader p::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #18c89b;
    position: relative;
    right: 4px;
}
.ocrloader p {
    color: #18c89b;
    position: absolute;
    bottom: -30px;
    left: 38%;
    font-size: 16px;
    font-weight: 600;
    animation: blinker 1.5s linear infinite;
    font-family: sans-serif;
    text-transform: uppercase;
}

.ocrloader {
    width: 93.5%;
    /*position: absolute;*/
    position: relative;
    /*left: 50%;*/
    left: 47%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*top: 40%;*/
    backface-visibility: hidden;
}

.ocrloader span {
    position: absolute;
    top: 0;
    width: 94%;
    height: 5px;
    background-color: #18c89b;
    box-shadow: 0 0 31px 7px #18c89b, 0 0 70px 10px #18c89b;
    z-index: 1;
    transform: translateY(95px);
    animation: move 1.7s cubic-bezier(1, 1, 0, 0), y 1s ease-in-out infinite;
    animation-iteration-count: infinite;
}

.ocrloader:before,
.ocrloader:after,
.ocrloader em:after,
.ocrloader em:before {
    border-color: #18c89b;
    content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    border-style: solid;
    border-width: 0px;
}
.ocrloader:before {
    left: 0;
    top: 0;
    border-left-width: 5px;
    border-top-width: 5px;
    border-radius: 5px 0 0 0;
}
.ocrloader:after {
    right: 0;
    top: 0;
    border-right-width: 5px;
    border-top-width: 5px;
    border-radius: 0 5px 0 0;
}
.ocrloader em:before {
    left: 0;
    bottom: 0;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-radius: 0 0 0 5px;
}
.ocrloader em:after {
    right: 0;
    bottom: 0;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-radius: 0 0 5px 0;
}

@keyframes move {
    0%,
    100% {
        transform: translateY(var(--height));
    }
    50% {
        transform: translateY(0%);
    }
    75% {
        transform: translateY(160px);
    }
}

@keyframes y {
    33% {
        clip-path: inset(0 0 -100px 0);
    }
    50% {
        clip-path: inset(0 0 0 0);
    }
    83% {
        clip-path: inset(-100px 0 0 0);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
